*                     {margin: 0; padding: 0;}
body                  {font: 16px Georgia, serif;}

#page-wrap            {margin: 2% auto; color: white;}
#page-wrap > .main    {border: 1px solid #999; padding: 1%; margin-bottom: 0.5%; color: black;}

section > div         {padding: 20px;}
header, nav, section  {background: #eee; text-align: center;}
footer                {background: #eee; text-align: center;}
nav span              {margin: 0px 10px 0px 0px;}

#tablaPreguntas       {padding: 5px;}
td                    {padding: 5px;}
#celdaPregunta        {text-align: left;}
#celdaTema            {background-color: #DBDBDB; font: 14px Georgia, sans-serif;}
#ErrorMsgs            {color: #f61; font-size: smaller}

/*Centrando el vídeo*/
#viddiv{
  style="position: relative; width: 240px;"
}
#vid1{
  margin: auto;
}
