<form method="get" action="/quizes/answer">
  Pregunta: <%= pregunta %> <p>
    <input type="text" name="respuesta" value="Responda aquí"
      onblur="if (this.value == '') {this.value = 'Responda aquí';}"
      onfocus="if (this.value == 'Responda aquí') {this.value = '';}"
     /><!-- Borra el value del formulario al hacer click, lo repuera al perder el foco-->
    <input type="submit" value="Enviar">
</form>
