<form method="get" action="/quizes/<%= quiz.id %>/answer">
  Pregunta: <%= quiz.pregunta %> <p>
    <input type="text" name="respuesta" value="Responda aquí"
      onblur="if (this.value == '') {this.value = 'Responda aquí';}"
      onfocus="if (this.value == 'Responda aquí') {this.value = '';}"
     /><!-- Borra el value del formulario al hacer click, lo repuera al perder el foco-->
    <input type="submit" value="Enviar">
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<% for(index in quiz.tablaComentarios){ //recordar que sequelice pluraliza nombre de tablas %>
  <p>- <%=quiz.tablaComentarios[index].texto%></p>
<%}%>
